{
  "database": {
    "file": "./resources/germany.db"
  },
  "logging": {
    "level": "info",
    "file": "logs/application.log",
    "console": true
  },
  "server": {
    "host": "localhost",
    "port": 3000
  }
}